.imgSize {
    height: 200px;
}

.cardHover:hover {
    box-shadow: 0px 0px 15px;
    transition: 0.3s;
}

body {
    background: rgb(34, 193, 195);
    background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}